@{
    ViewData["Title"] = "New Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Encounter.Entities
@model Encounter.ViewModels.AbilityPageViewModel


<h1>Get ready, @Model.User.PlayerName!</h1>
<h2>You chose:</h2>
<h1>@Model.Character.Name</h1>
<h2>With the following abilities:</h2>
    @foreach(var ability in Model.Character.Abilities)
    {
        <h3>@ability.Name</h3>
        <ul>
            <li>Damage to Character: @ability.CharHarm</li>
            <li>Healing to Character: @ability.CharHeal</li>
            <li>Damage to Foe: @ability.FoeHarm</li>
            <li>Healing to Foe: @ability.FoeHeal</li>
        </ul>
    }

@Html.ActionLink("Game", "Game", "Game", new {
    charId = Model.Character.CharacterId
})