@{
    ViewData["Title"] = "Game";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}
@using Encounter.Entities
@model Encounter.ViewModels.GamePageViewModel

<div class="event-container">
        @*event-board-img outside of normal flow (position: absolute)*@
        <img class="event-board-img" src="@Model.CurrentEvent.ImageUrl" alt="@Model.CurrentEvent.Name" />
        <div id="next-event">
            @using (Html.BeginForm("Next", "Game", new
            {
                gameId = Model.Game.GameId,
                eventsCompleted = Model.EventsCompleted + 1
            }))
            {
                <div>
                    <input type="submit" value="Next Event!" />
                </div>
            }
        </div>
    <div class="container-fluid">
        <div class="event-board row">
            <div class="row">
                <div class="col-xs-6">
                    <p>@Model.Game.User.PlayerName chose: @Model.Game.Character.Name</p>
                </div>
                <div class="col-xs-6">
                    <p>In the @Model.CurrentEvent.Name, you encounter a @Model.CurrentEvent.Foe.Name</p>
                </div>
            </div>
            <div id="health-bar-row" class="row">
                <div class="col-xs-6">
                    @*HEALTH BARS TO UPDATE WITH AJAX*@
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=@Model.Game.Character.Health
                                aria-valuemin="0" aria-valuemax=@Model.Game.Character.Health style="width:100%">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>
                    <h3>Player Health: @Model.Game.Character.Health</h3>
                </div>
                <div class="col-xs-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=@Model.CurrentEvent.Foe.Health
                                aria-valuemin="0" aria-valuemax=@Model.CurrentEvent.Foe.Health style="width:100%">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>
                    <h3>@Model.CurrentEvent.Foe.Name Health: @Model.CurrentEvent.Foe.Health</h3>
                </div>
            </div>
            <div class="row sprite-row">
                <div class="char-box col-xs-6">
                    <div class="row">
                        <div class="center-box">
                            <div class="char-skill-box">
                                @foreach (var ability in Model.Game.Character.Abilities)
                                {
                                    <button class="btn btn-default act-btn" value="@ability.AbilityId">@ability.Name</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row center-box char-sprite-box">
                        <div id="char-sprite-effect-box">
                            @*TEMPORARY - DO WITHIN AJAX*@
                        </div>
                        <img class="game-char-img" src="@Model.Game.Character.SpriteUrl" alt="@Model.Game.Character.Name" />
                    </div>
                </div>
                <div class="foe-box col-xs-6">
                    <div class="row center-box foe-sprite-box">
                        <div id="foe-sprite-effect-box">
                            @*TEMPORARY - DO WITHIN AJAX*@
                        </div>
                        <img class="game-foe-img" src="@Model.CurrentEvent.Foe.SpriteUrl" alt="@Model.CurrentEvent.Foe.Name" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        testing();
        $('#next-event').hide();
        $('#char-sprite-effect-box').hide();

        var playerHealth = @Model.Game.Character.Health;
        var foeHealth = @Model.CurrentEvent.Foe.Health;
        var gameActive = true;

        function winCheck() {
            if (foeHealth <= 0)
            {
                console.log("@Model.CurrentEvent.Foe.Name has died!");
                gameActive = false;
                setTimeout(function(){
                    $('#next-event').fadeIn();
                }, 500);
            }
        }

        function setEffects(result) {
            if (result.charHeal > 0){
                $('#char-sprite-effect-box').html('<img src="/img/heal-jade-3.png" />')
                $('#char-sprite-effect-box').fadeIn();
                window.setTimeout(function(){
                    $('#char-sprite-effect-box').fadeOut();
                },100);
                
            }
            if (result.charHarm > 0) {
                $('#char-sprite-effect-box').html('<img src="/img/enchant-red-3.png" />')
                $('#char-sprite-effect-box').fadeIn();
                window.setTimeout(function(){
                    $('#char-sprite-effect-box').fadeOut();
                },100);
            }
            if (result.foeHeal > 0){
                $('#foe-sprite-effect-box').html('<img src="/img/heal-jade-3.png" />')
                $('#foe-sprite-effect-box').fadeIn();
                window.setTimeout(function(){
                    $('#foe-sprite-effect-box').fadeOut();
                },100);
                
            }
            if (result.foeHarm > 0){
                $('#foe-sprite-effect-box').html('<img src="/img/enchant-red-3.png" />')
                $('#foe-sprite-effect-box').fadeIn();
                window.setTimeout(function(){
                    $('#foe-sprite-effect-box').fadeOut();
                },100);
                
            }

            playerHealth -= result.charHarm;
            playerHealth += result.charHeal;
            playerPercent = playerHealth / @Model.Game.Character.Health * 100;

            foeHealth -= result.foeHarm;
            foeHealth += result.foeHeal;
            foePercent = foeHealth / @Model.CurrentEvent.Foe.Health * 100;
        
        }

        $('.act-btn').click(function () {
            var val = parseInt($(this).val());

            var btn = $(this);
            btn.prop('disabled',true);
            window.setTimeout(function(){
                btn.prop('disabled',false);
            },2000);

            $.ajax({
                type: 'GET',
                data: { id: val },
                dataType: 'json',
                contentType: 'application/json',
                url: '@Url.Action("Act", "Game")',
                success: function (result) {

                    setEffects(result);

                    playerHealth -= result.charHarm;
                    playerHealth += result.charHeal;
                    playerPercent = playerHealth / @Model.Game.Character.Health * 100;

                    foeHealth -= result.foeHarm;
                    foeHealth += result.foeHeal;
                    foePercent = foeHealth / @Model.CurrentEvent.Foe.Health * 100;

                    var resultString =
                    `<div class="col-xs-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=playerHealth
                                 aria-valuemin="0" aria-valuemax=@Model.Game.Character.Health style="width:`+ playerPercent +`%">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                        <h3>Player Health: ` + playerHealth + `</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=foeHealth
                                 aria-valuemin="0" aria-valuemax=@Model.CurrentEvent.Foe.Health style="width:`+ foePercent +`%">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                        <h3>@Model.CurrentEvent.Foe.Name Health:` + foeHealth + `</h3>
                    </div>`;

                    $('#health-bar-row').html(resultString);
                    winCheck();
                }
            });
        });

        setInterval(function(){
            if(gameActive) {
                var val = Math.floor(Math.random() * (9 - 7)) + 7;
                console.log(val);
                console.log("Attacking!");

                $.ajax({
                    type: 'GET',
                    data: { id: val },
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '@Url.Action("Act", "Game")',
                    success: function (result) {

                        setEffects(result);

                        playerHealth -= result.foeHarm;
                        playerHealth += result.foeHeal;
                        playerPercent = playerHealth / @Model.Game.Character.Health * 100;

                        foeHealth -= result.charHarm;
                        foeHealth += result.charHarm;
                        foePercent = foeHealth / @Model.CurrentEvent.Foe.Health * 100;

                        var resultString =
                        `<div class="col-xs-6">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=playerHealth
                                        aria-valuemin="0" aria-valuemax=@Model.Game.Character.Health style="width:`+ playerPercent +`%">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                            <h3>Player Health:` + playerHealth + `</h3>
                        </div>
                        <div class="col-xs-6">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=foeHealth
                                        aria-valuemin="0" aria-valuemax=@Model.CurrentEvent.Foe.Health style="width:`+ foePercent +`%">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                            <h3>@Model.CurrentEvent.Foe.Name Health:` + foeHealth + `</h3>
                        </div>`;

                        $('#health-bar-row').html(resultString);
                        winCheck();
                    }
                });

            }

        }, 5000);
    });
</script>
