@{
    ViewData["Title"] = "Game";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}
@model Encounter.Entities.Game

<div class="container-fluid">
    <div class="event-board row">
        @*event-board-img outside of normal flow (position: absolute)*@
        <img class="event-board-img" src="@Model.Events.First().ImageUrl" alt="@Model.Events.First().Name" />
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    <p>@Model.User.PlayerName chose: @Model.Character.Name</p>
                </div>
                <div class="col-xs-6">
                    <p>In the @Model.Events.First().Name, you encounter a @Model.Events.First().Foe.Name</p>
                </div>
            </div>
            <div id="health-bar-row" class="row">
                <div class="col-xs-6">
                    @*HEALTH BARS TO UPDATE WITH AJAX*@
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=@Model.Character.Health
                             aria-valuemin="0" aria-valuemax=@Model.Character.Health style="width:100%">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>
                    <h3>Player Health: @Model.Character.Health</h3>
                </div>
                <div class="col-xs-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=@Model.Events.First().Foe.Health
                             aria-valuemin="0" aria-valuemax=@Model.Events.First().Foe.Health style="width:100%">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>
                    <h3>@Model.Events.First().Foe.Name Health: @Model.Events.First().Foe.Health</h3>
                </div>
            </div>
            <div class="row">
                <div class="char-box col-xs-6">
                    <div class="row">
                        <div class="center-box">
                            <div class="char-skill-box">
                                @foreach (var ability in Model.Character.Abilities)
                                {
                                    <button class="btn btn-default act-btn" value="@ability.AbilityId">@ability.Name</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row center-box">
                        <img class="game-char-img" src="@Model.Character.SpriteUrl" alt="@Model.Character.Name" />
                    </div>
                </div>
                <div class="foe-box col-xs-6">
                    <div class="row">
                        <div class="row center-box">
                            <img class="game-foe-img" src="@Model.Events.First().Foe.SpriteUrl" alt="@Model.Events.First().Foe.Name" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>@Model.User.Games.First().DateCreated</h2>
<h2>@Model.Events.ElementAt(0).Name</h2>
<h2>@Model.Events.ElementAt(1).Name</h2>
<h2>@Model.Events.ElementAt(2).Name</h2>

@using (Html.BeginForm("Next", "Game", new
    {
        gameId = Model.GameId,
        eventsCompleted = 1
    }))
{
    <div>
        <input type="submit" value="Next Event!" />
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

        testing();
        $('#next-event').hide();

        var playerHealth = @Model.Character.Health;
        var foeHealth = @Model.Events.First().Foe.Health;
        var gameActive = true;

        function winCheck() {
            if (foeHealth <= 0)
            {
                console.log("@Model.Events.First().Foe.Name has died!");
                gameActive = false;
                setTimeout(function(){
                    $('#next-event').show();
                }, 2000);
            }
        }

        $('.act-btn').click(function () {
            var val = parseInt($(this).val());

            var btn = $(this);
            btn.prop('disabled',true);
            window.setTimeout(function(){
                btn.prop('disabled',false);
            },2000);

            $.ajax({
                type: 'GET',
                data: { id: val },
                dataType: 'json',
                contentType: 'application/json',
                url: '@Url.Action("Act", "Game")',
                success: function (result) {

                    playerHealth -= result.charHarm;
                    playerHealth += result.charHeal;
                    playerPercent = playerHealth / @Model.Character.Health * 100;

                    foeHealth -= result.foeHarm;
                    foeHealth += result.foeHeal;
                    foePercent = foeHealth / @Model.Events.First().Foe.Health * 100;

                    var resultString =
                    `<div class="col-xs-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=playerHealth
                                 aria-valuemin="0" aria-valuemax=@Model.Character.Health style="width:`+ playerPercent +`%">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                        <h3>Player Health: ` + playerHealth + `</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=foeHealth
                                 aria-valuemin="0" aria-valuemax=@Model.Events.First().Foe.Health style="width:`+ foePercent +`%">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                        <h3>@Model.Events.First().Foe.Name Health:` + foeHealth + `</h3>
                    </div>`;

                    $('#health-bar-row').html(resultString);
                    winCheck();
                }
            });
        });

        setInterval(function(){
            if(gameActive) {
                var val = Math.floor(Math.random() * (9 - 7)) + 7;
                console.log(val);
                console.log("Attacking!");

                $.ajax({
                    type: 'GET',
                    data: { id: val },
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '@Url.Action("Act", "Game")',
                    success: function (result) {

                        //@Model.Character.Abilities.First().CharHarm;
                        playerHealth -= result.charHarm;
                        playerHealth += result.charHeal;
                        playerPercent = playerHealth / @Model.Character.Health * 100;

                        foeHealth -= result.foeHarm;
                        foeHealth += result.foeHeal;
                        foePercent = foeHealth / @Model.Events.First().Foe.Health * 100;

                        var resultString =
                        `<div class="col-xs-6">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=playerHealth
                                        aria-valuemin="0" aria-valuemax=@Model.Character.Health style="width:`+ playerPercent +`%">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                            <h3>Player Health:` + playerHealth + `</h3>
                        </div>
                        <div class="col-xs-6">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=foeHealth
                                        aria-valuemin="0" aria-valuemax=@Model.Events.First().Foe.Health style="width:`+ foePercent +`%">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                            <h3>@Model.Events.First().Foe.Name Health:` + foeHealth + `</h3>
                        </div>`;

                        $('#health-bar-row').html(resultString);
                        winCheck();
                    }
                });
            
            }

        }, 5000);
    });
</script>
