@{
    ViewData["Title"] = "Encounter";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}
@model Encounter.Entities.Game

<h1>This is @Model.User.PlayerName's game page</h1>
<h2>@Model.User.PlayerName chose: @Model.Character.Name</h2>
<h2>At: @Model.DateCreated</h2>

<img class="game-char-img" src="@Model.Character.SpriteUrl" alt="@Model.Character.Name" />
<h2>Character is: @Model.Character.Name, with @Model.Character.Health health</h2>
@foreach (var ability in Model.Character.Abilities)
{
    <h4>Ability: @ability.Name</h4>
    <ul>
        <li>@ability.CharHarm</li>
        <li>@ability.FoeHeal</li>
    </ul>
}


@foreach (var currentEvent in Model.Events)
{
    <div class="event-board" style="background:url(@currentEvent.ImageUrl);background-repeat: no-repeat;background-size: 1000px 600px;">
        <div class="overlay">
            <h2>Event is called: @currentEvent.Name</h2>

            <img class="game-foe-img" src="@currentEvent.Foe.SpriteUrl" alt="@currentEvent.Foe.Name"/>
            <h3>Event foe is: @currentEvent.Foe.Name, with @currentEvent.Foe.Health health</h3>
            @foreach (var ability in currentEvent.Foe.Abilities)
            {
                <h4>Ability: @ability.Name</h4>
                <ul>
                    <li>@ability.CharHarm</li>
                    <li>@ability.FoeHeal</li>
                </ul>
            }
        </div>
    </div>
}
