@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Encounter.Entities
@model Encounter.ViewModels.CharacterPageViewModel

<h1>Start a new game, @Model.User.PlayerName!</h1>


@foreach (var character in Model.Characters)
{
    <div class="col-xs-6 col-sm-3">
        <h3>@character.Name</h3>
        <div class="char-select-sprite-box">
            <img class="char-select" src="@character.SpriteUrl" />
        </div>
        @using (Html.BeginForm("Ready", "Ability", new { charId = character.CharacterId }))
        {
            <div>
                <input type="submit" value="Select @character.Name" />
            </div>
        }
        <div class="char-select-abil-box">
            <h4>Abilities</h4>
            @foreach (var ability in character.Abilities)
            {
            
                <h3>@ability.Name</h3>
            }
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        var selectedCharId = null;
        var selectedAbilId = null;

        $('.char-select').click(function () {
            selectedCharId = $(this).val();
            console.log("Char ID: ", selectedCharId);
        })
        $('.abil-select').click(function () {
            selectedAbilId = $(this).val();
            console.log("Abil ID: ", selectedAbilId);
        })

        $('.new-destination').submit(function (event) {
            event.preventDefault();
            console.log($(this).serialize());
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Action("NewDestination")',
                data: $(this).serialize(),
                success: function (result) {
                    var resultMessage = 'You\'ve added a new destination to the database!<br>Id: ' + result.destinationId +
                        '<br>City: ' + result.city + '<br>Country: ' + result.country;
                    $('#result6').html(resultMessage);
                }
            });
        });
    });
</script>