@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Encounter.Entities
@model Encounter.ViewModels.CharacterPageViewModel

<h1>Start a new game, @Model.User.PlayerName!</h1>


@foreach (var character in Model.Characters)
{
    <div class="col-xs-6 col-sm-3 char-select-container">
        <h2>@character.Name</h2>
        <h5>The @character.Class</h5>
        <div class="char-select-sprite-box">
            <img class="char-select-img" src="@character.SpriteUrl" />
        </div>
        @using (Html.BeginForm("Ready", "Ability", new { charId = character.CharacterId }))
        {
            <div>
                <input class="btn char-select-btn" type="submit" value="Select @character.Name" />
            </div>
        }
        <div class="char-select-abil-box">
            <div class="row">
                @foreach (var ability in character.Abilities)
                {
                    <div class="col-xs-6">
                        <h4>@ability.Name</h4>
                    </div>
                }
            </div>
            <div class="row">
                @foreach (var ability in character.Abilities)
                {
                    <div class="col-xs-6">
                        <img class="act-icon" src=@ability.ImageUrl alt="@ability.Name" />
                    </div>
                }
            </div>
        </div>
    </div>
}