@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Encounter.Entities
@model Encounter.ViewModels.CharacterPageViewModel

<h1 class="new-game-banner">Start a new game, @Model.User.PlayerName!</h1>


@foreach (var character in Model.Characters)
{
    <div class="col-xs-6 col-sm-3 char-select-container">
        <h2 class="char-select-name">@character.Name</h2>
        <h5 class="char-select-class">The @character.Class</h5>
        <div class="char-select-sprite-box">
            <img class="char-select-img" src="@character.SpriteUrl" />
        </div>
        @using (Html.BeginForm("Scenario", "Character", new { charId = character.CharacterId }))
        {
            <div>
                <input class="btn char-select-btn" type="submit" value="Select @character.Name" />
            </div>
        }
        <div class="char-select-abil-box">
            <div class="row">
                <div class="col-xs-6">
                    <h4 class="abil-name">@character.Ability1.Name</h4>
                </div>
                <div class="col-xs-6">
                    <h4 class="abil-name">@character.Ability2.Name</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <img class="act-icon" src=@character.Ability1.ImageUrl alt="@character.Ability1.Name" />
                </div>
                <div class="col-xs-6">
                    <img class="act-icon" src=@character.Ability2.ImageUrl alt="@character.Ability2.Name" />
                </div>
            </div>
        </div>
    </div>
}