@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Encounter.Entities
@model Encounter.ViewModels.CharacterPageViewModel

<div class="container">
    <h1 class="new-game-banner">Select a Scenario, @Model.User.PlayerName!</h1>

    <div class="col-xs-12 char-select-container">
        <h2>@Model.SelectedCharacter.Name</h2>
        <h5>The @Model.SelectedCharacter.Class</h5>
        <div class="char-select-sprite-box">
            <img class="char-select-img" src="@Model.SelectedCharacter.SpriteUrl" />
        </div>
        <div class="row">
            <img class="small-act-icon" src=@Model.SelectedCharacter.Ability1.ImageUrl alt="@Model.SelectedCharacter.Ability1.Name" />
            <img class="small-act-icon" src=@Model.SelectedCharacter.Ability2.ImageUrl alt="@Model.SelectedCharacter.Ability2.Name" />
        </div>
    </div>

    @foreach (var scenario in Model.Scenarios)
    {
        <div class="col-xs-4 scenario-select-container">
            <h2>@scenario.Name</h2>
            <div class="scenario-select-sprite-box">
                <img class="scenario-select-img" src="@scenario.IconUrl" />
            </div>
            @using (Html.BeginForm("Game", "Game", new { charId = Model.SelectedCharacter.CharacterId, scenarioId = scenario.ScenarioId }))
            {
                <div>
                    <input class="btn char-select-btn" type="submit" value="Select @scenario.Name" />
                </div>
            }
        </div>
    }
</div>