@{
    ViewData["Title"] = "Encounter";
    Layout = "~/Views/Shared/_AccountHomeLayout.cshtml";
}

@using System.Security.Claims
@model Encounter.Entities.ApplicationUser

<div class="bg-image">
    <div class="landing-menu">
        <h1 class="encounter-banner">Encounter</h1>
        @if (User.Identity.IsAuthenticated)
        {
            <h1 class="player-welcome">Welcome, @Model.PlayerName</h1>

            <button class="btn landing-btn padded-btn" onclick="location.href='@Url.Action("Index", "Character")';return false;">Play!</button>
            <button class="btn landing-btn padded-btn" onclick="location.href='@Url.Action("Profile", "Player")';return false;">Profile</button>
            <button class="btn landing-btn padded-btn" onclick="location.href='@Url.Action("Credits", "Home")';return false;">About/Credits</button>
            
            @using (Html.BeginForm("LogOff", "Account"))
            {
                <input type="submit" class="btn btn-default logout-btn" value="Log out" />
            }
        }
        else
        {
            <button class="btn landing-btn padded-btn" onclick="location.href='@Url.Action("Register")';return false;">Register</button>
            <button class="btn landing-btn padded-btn" onclick="location.href='@Url.Action("Login")';return false;">Log In</button>
            <button class="btn landing-btn padded-btn" onclick="location.href='@Url.Action("Demo", "Game", new { eventsCompleted = 0 })';return false;">Demo</button>
            
        }
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="fb-share-button" data-href="https://goencounter.azurewebsites.net/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgoencounter.azurewebsites.net%2F&amp;src=sdkpreparse">Share</a></div>
            </div>
            <div class="col-xs-6">
                <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
