@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

@using Encounter.ViewModels

@model RegisterViewModel

<div class="bg-image">
    <div class="landing-menu">
        <h1 class="encounter-banner">Encounter</h1>
        <h2>Register</h2>
        
        <div class="row">
            <div class="col-xs-6">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    @Html.TextBoxFor(m => m.PlayerName, new { @class = "form-control reg-input", placeholder = "Username" })

                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control reg-input email-input", placeholder = "Email Address" })
                    //TODO look into Gravatar API usage
                    @Html.HiddenFor(m => m.AvatarUrl, new { @class = "form-control reg-input avatar-input", id = "avatar-input" })

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control reg-input", placeholder = "Password" })

                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control reg-input", placeholder = "Confirm Password" })

                    <input type="submit" class="btn btn-success" value="Register" />
                }
            </div>
            <div class="col-xs-6">
                <div id="avatar-container"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //Player action
        $('.email-input').focusout(function () {
            var emailInput = $('.email-input').val();

            $.ajax({
                type: 'GET',
                data: { email: emailInput },
                dataType: 'json',
                contentType: 'application/json',
                url: '@Url.Action("GetHash", "Account")',
                success: function (result) {
                    console.log(result);
                    $('#avatar-container').html("<img id='avatar' src='" + result + "' alt='Profile Image' />")
                    $('#avatar-input').val(result);
                }
            });
        });
    });
</script>