@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Encounter.ViewModels

@model RegisterViewModel

<div class="container">
    <h2>Register a new user</h2>
    <hr />
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.LabelFor(m => m.PlayerName, "Username")
        @Html.TextBoxFor(m => m.PlayerName, new { @class = "form-control", required = "required" })

        @Html.LabelFor(m => m.AvatarUrl, "Avatar URL")
        @Html.TextBoxFor(m => m.AvatarUrl, new { @class = "form-control", required = "required" })

        @Html.LabelFor(m => m.Email, "Email Address")
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required" })

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })

        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required" })

        <input type="submit" class="btn btn-success" value="Register" />
    }
</div>