@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

@using Encounter.ViewModels

@model RegisterViewModel

<div class="bg-image">
    <div class="landing-menu">
        <h1 class="encounter-banner">Encounter</h1>
        <h2>Register</h2>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.TextBoxFor(m => m.PlayerName, new { @class = "form-control", required = "required", placeholder="Username" })

            //TODO look into Gravatar API usage
            @Html.TextBoxFor(m => m.AvatarUrl, new { @class = "form-control", required = "required", placeholder = "Avatar URL" })
            
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required", placeholder = "Email Address" })
            
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required", placeholder = "Password" })
            
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required", placeholder = "Confirm Password" })

            <input type="submit" class="btn btn-success" value="Register" />
        }
    </div>
</div>
