@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model Encounter.ViewModels.PlayerPageViewModel

<h1>@User.Identity.Name</h1>

@if (Model.IsCreated)
{
    <div>
        <ul>
           <li>@Model.Player.PlayerId | @Model.Player.Name @Html.ActionLink("See more", "Details", new { id = Model.Player.PlayerId }) @Html.ActionLink("New Game", "Index", "Character", new { id = Model.Player.PlayerId })</li>
        </ul>
    </div>
}
else 
{ 
    <button>@Html.ActionLink("New Account", "Create", "Player")</button>
}
