@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Encounter.ViewModels.PlayerPageViewModel

<h1>@Model.CurrentGreeting</h1>
<div>
    <ul>
        @foreach (var category in Model.Categories)
        {
            <li>@category.CategoryId | @category.Name</li>

        }
    </ul>
</div>

<button>@Html.ActionLink("New Account", "Create", "Player")</button>

<div>
    <ul>
        @foreach (var player in Model.Players)
        {
            <li>@player.PlayerId | @player.Name @Html.ActionLink("See more", "Details", new { id = player.PlayerId }) @Html.ActionLink("New Game", "Create", "Game", new { id = player.PlayerId })</li>

        }
    </ul>
</div>