@{
    ViewData["Title"] = "Category Details";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}
@model Encounter.Entities.ApplicationUser

<div class="bg-image">
    <div class="landing-menu">
        <h1 class="encounter-banner">Encounter</h1>
        @Html.ActionLink("Home", "Index", "Account")
        <h3>Player Profile</h3>
        <h1>Hello, @Model.PlayerName</h1>
        <p>Account Created: @Model.DateCreated</p>
        <img class="player-avatar" src="@Model.AvatarUrl" />
        @if (Model.Games.Count > 0)
        {
            <h2>Recent Games:</h2>
            @foreach (var game in Model.Games.Reverse())
            {
                <div class="game-info-box">
                    <h3>Character was: @game.Character.Name</h3>
                    <h4>Date: @game.DateCreated</h4>
                    <button class="delete-game-btn" value=@game.GameId>Delete Game</button>
                    <h3>Events:</h3>
                    <ul class="recent-games">
                        @foreach (var gameEvent in game.Events)
                        {
                            <li>Location: @gameEvent.Name with Foe: @gameEvent.Foe.Name</li>
                        }
                    </ul>
                </div>

            }
        }
        else
        {
            <h3>No games on record yet!</h3>
            <button class="btn landing-btn padded-btn" onclick="location.href='@Url.Action("Index", "Character")';return false;">Play!</button>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        //Delete game action
        $('.delete-game-btn').click(function () {
            var gameId = parseInt($(this).val());
            var boxToRemove = $(this).parent();

            $.ajax({
                type: 'GET',
                data: { id: gameId },
                dataType: 'json',
                contentType: 'application/json',
                url: '@Url.Action("UserDeleteGame", "Account")',
                success: function (result) {
                    boxToRemove.fadeOut(500, function () {
                        boxToRemove.remove();
                    });
                }
            });
        });

    })
</script>